<footer class="bg-gray-100 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto flex flex-col md:flex-row justify-between space-y-8 md:space-y-0">
      <!-- Left Column -->
      <div class="flex flex-col space-y-4 items-center text-center">
        <div class="bg-purple-400 rounded-2xl">
          <div class="text-white text-3xl font-bold py-6">
            White Dental
          </div>
          <p class="text-white max-w-xs">
            Nasze usługi są dostępne dla wielu zadowolonych klientów. Masz pytania? Skontaktuj się z nami, jesteśmy tu, aby pomóc.
          </p>
          <div class="flex space-x-4 py-8 justify-center">
            <a href="https://www.facebook.com/whitedentalagnieszkamajcher?fref=ts" class="text-white hover:text-purple-700">
              <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a href="https://www.instagram.com/whitedental.boguchwala?igsh=MXF2dWZicWhibGYybw%3D%3D" class="text-white hover:text-purple-700">
              <i class="fab fa-instagram fa-3x"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Middle Column -->
      <div class="flex flex-col items-start space-y-4 py-6">
        <h3 class="text-gray-900 font-semibold text-3xl">Kontakt</h3>
        <p class="text-gray-600">
          <i class="fas fa-envelope mr-2"></i>gabinet.amajcher&#64;gmail.com
        </p>
        <p class="text-gray-600">
          <i class="fas fa-phone mr-2"></i>888 122 122
        </p>
        <p class="text-gray-600">
          <i class="fas fa-map-marker-alt mr-2"></i>ul. Wojska Polskiego 6b,<br> 36-040 Boguchwała
        </p>
      </div>

      <!-- Right Column -->
      <div class="flex flex-col items-start space-y-4 py-6">
        <h3 class="text-gray-900 font-semibold text-3xl">Szybkie linki</h3>
        <ul class="text-gray-600 space-y-2">
          <li><a routerLink="#" class="hover:text-purple-400">Strona główna</a></li>
          <li><a routerLink="#" class="hover:text-purple-400">Usługi</a></li>
          <li><a routerLink="#" class="hover:text-purple-400">Cennik</a></li>
          <li><a routerLink="#" class="hover:text-purple-400">Kontakt</a></li>
          <li><a routerLink="#" class="hover:text-purple-400">O nas</a></li>
          <li><a routerLink="#" class="hover:text-purple-400">Strefa wiedzy</a></li>
        </ul>
      </div>

      <!-- New Column: Umów się -->
      <div class="flex flex-col items-start space-y-4 py-6">
        <h3 class="text-gray-900 font-semibold text-3xl">Umów się</h3>
        <a href="https://www.booksy.com" target="_blank" class="bg-purple-400 text-white py-2 px-4 rounded-full hover:bg-purple-500 transition text-xl">
          Booksy
        </a>
      </div>
    </div>

    <div class="text-center border-t border-gray-700 text-gray-500 text-sm pt-6 mt-8">
      &copy; 2024 Wszelkie prawa zastrzeżone White Dental.
    </div>
  </div>
</footer>
