<footer class="bg-blue-950 text-white">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
      <!-- Pierwsza kolumna: Logo i social media -->
      <div class="max-w-lg lg:ml-0 mb-10 lg:mb-0">
        <h3 class="text-3xl font-bold mb-10 text-center">White Dental</h3>
        <p class="text-gray-300 mb-4 text-center">
          Nasze social media:
        </p>
        <div class="flex space-x-4 justify-center">
          <a href="https://www.facebook.com/whitedentalagnieszkamajcher?fref=ts" class="text-gray-400 hover:text-white"><i class="fab fa-facebook fa-3x"></i></a>
          <a href="#" class="text-gray-400 hover:text-white"><i class="fab fa-twitter fa-3x"></i></a>
          <a href="https://www.instagram.com/whitedental.boguchwala?igsh=MXF2dWZicWhibGYybw%3D%3D" class="text-gray-400 hover:text-white"><i class="fab fa-instagram fa-3x"></i></a>
          <a href="#" class="text-gray-400 hover:text-white"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
      </div>

      <div class="max-w-lg lg:ml-24 mb-10 lg:mb-0">
        <h4 class="text-2xl font-semibold mb-4">Site Navigation</h4>
        <div class="flex flex-wrap">
          <!-- Pierwsza lista -->
          <div class="w-1/2">
            <ul>
              <li><a href="#" class="text-gray-300 hover:text-white">Consultation</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Teeth Whitening</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Root Canals</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Consultation</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Teeth Whitening</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Root Canals</a></li>
            </ul>
          </div>
          <!-- Druga lista -->
          <div class="w-1/2">
            <ul>
              <li><a href="#" class="text-gray-300 hover:text-white">Crowns & Bridges</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Dental Implants</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Tooth Extractions</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Crowns & Bridges</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Dental Implants</a></li>
              <li><a href="#" class="text-gray-300 hover:text-white">Tooth Extractions</a></li>
            </ul>
          </div>
        </div>
      </div>


      <!-- Trzecia kolumna: Informacje kontaktowe -->
      <div class="max-w-lg lg:ml-44 mb-10 lg:mb-0 text-center">
        <h4 class="text-2xl font-semibold mb-4">Kontakt</h4>
        <p class="text-gray-300 ">ul. Wojska Polskiego 6b,</p>
        <p class="text-gray-300 "> 36-040 Boguchwała </p>
        <p class="text-gray-300 mb-2"> pod Rzeszowem</p>
        <p class="text-gray-300 mb-2">Tel. <span class="font-bold">888 122 122</span></p>
        <p class="text-gray-300">gabinet.amajcher&#64;gmail.com</p>
      </div>
    </div>
    <!-- Stopka z prawami autorskimi -->
    <div class="mt-8 border-t border-gray-700 pt-6 text-center">
      <p class="text-gray-400">&copy; 2024 Wszelkie prawa zastrzeżone. Maharadza83</p>
    </div>
  </div>
</footer>
