<div class="bg-white text-gray-800 p-4">
  <div class="max-w-7xl mx-auto">
    <!-- Contact Us Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-xl">
      <div>
        <div class="p-4">
          <p class="text-5xl font-bold mb-4">White Dental</p>
          <p class="font-semibold text-2xl mb-4">Informacje kontaktowe</p>
          <p class="mb-4">Zapraszamy do skontaktowania się z naszą Kliniką. Dokładamy wszelkich starań, aby z pasją i troską doradzić, zdiagnozować i pomóc w każdej sytuacji, dbając o Państwa piękny i zdrowy uśmiech.</p>
        </div>
        <div class="contact-info p-4 mb-4 text-2xl">
          <p class="mb-4">
            <a href="mailto:gabinet.amajcher@gmail.com" class="text-blue-500">
              <i class="fas fa-envelope"></i> gabinet.amajcher&#64;gmail.com
            </a>
          </p>
          <p class="mb-4">
            <a href="tel:888122122" class="text-blue-500">
              <i class="fas fa-phone"></i> (+48) 888 122 122
            </a>
          </p>
          <p class="mb-4">
            <i class="fas fa-clock"></i> Pon-Pt: 9:00-20:00
          </p>
          <p>
            <i class="fas fa-map-marker-alt"></i> Boguchwała, Poland<br>
            ul. Wojska Polskiego 6b,<br>
            36-040 Boguchwała
          </p>
        </div>
      </div>

      <!-- Get in Touch Form -->
      <div class="rounded-lg shadow-lg h-full">
        <div>
          <iframe class="w-full h-screen rounded-md" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.7894495129266!2d21.944280115715026!3d49.99315077941402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473dff285e2c29b7%3A0x4d97b7e6b5e0c2b!2sWojska%20Polskiego%206b%2C%2036-040%20Boguchwa%C5%82a%2C%20Poland!5e0!3m2!1sen!2sus!4v1623858309612!5m2!1sen!2sus" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
