<div class="w-full mx-auto bg-sky-50">
  <div class="flex flex-col lg:pt-0 lg:pb-5 lg:flex-row items-center lg:justify-between px-5 py-10 view-hero">
    <div class="max-w-lg lg:ml-80 mb-10 lg:mb-0">
      <h1 class="text-5xl font-bold mb-4 ">Zacznij swój dzień <br> od pięknego uśmiechu</h1>
      <p class="text-gray-600 text-xl mb-6 text-gold-gradient">
        Nasz salon stomatologiczny oferuje szeroką gamę usług, które pomogą Ci osiągnąć zdrowy i piękny uśmiech. Zaufaj naszym specjalistom, którzy dzięki nowoczesnym technologiom i indywidualnemu podejściu zadbają o Twoje zęby i komfort. U nas każdy pacjent jest wyjątkowy!
      </p>
      <button class="bg-custom-blue text-white text-lg py-2 px-4 rounded">Zobacz więcej</button>
    </div>
    <div class="max-w-2xl lg:mr-80">
      <img src="assets/model.png" alt="Smiling woman giving thumbs up" class="rounded-lg">
    </div>
  </div>
  <div class="w-full mx-auto px-5 bg-white py-5">
    <div class="flex flex-col lg:flex-row justify-between py-16 items-center">
      <div class="max-w-lg lg:ml-80">
        <div class="flex items-center p-5 bg-sky-50 rounded-lg">
          <img src="assets/doctorj.jpg" alt="Agnieszka Majcher" class="w-52 rounded-2xl mr-5">
          <div>
            <h3 class="text-xl font-semibold mb-2">Agnieszka Majcher</h3>
            <p class="text-gray-600 mb-2">lekarz stomatolog, założycielka</p>
            <p class="text-gray-600">
              W roku 2001 ukończyła Pomorską Akademię Medyczną w Szczecinie. Specjalizuje się w stomatologii zachowawczej, estetycznej, protetyce oraz endodoncji.
            </p>
          </div>
        </div>
      </div>
      <div class="max-w-lg lg:mr-80 mb-10 lg:mb-0">
        <h2 class="text-3xl font-semibold mb-4">O nas</h2>
        <p class="text-gray-600 mb-4 mx-auto">
          Oferujemy szeroki zakres usług oraz dbamy o dobre samopoczucie pacjenta podczas każdej wizyty. Zwracamy uwagę na praktyczność oraz estetykę wykonywanego uzupełnienia, jak i zakładanych protez. Wybielamy, leczymy i prostujemy zęby, aby każdy pacjent mógł szeroko się uśmiechać. Dbamy o trwałość wykonywanych usług. Wyróżnia nas indywidualne podejście do każdej osoby. Zajmujemy się leczeniem nie tylko dorosłych, ale też dzieci, które traktujemy ze szczególną troską, dlatego u nas czują się
          one bezpiecznie i nie boją się wizyt. Można liczyć na naszą trafną diagnozę oraz sugerowanie pacjentom najlepszych rozwiązań.
        </p>
      </div>
    </div>
    <app-doctors-carousel></app-doctors-carousel>
  </div>
</div>

<!-- Sekcja Przed i Po -->
<div class="w-full mx-auto px-5 py-10 bg-white">
  <h2 class="text-3xl font-semibold mb-6 text-center">Najlepsze możliwe rezultaty</h2>
  <p class="text-gray-600 text-center mb-10 ">
    Wybielanie zębów ma ogromny wpływ na życie i wygląd człowieka, ponieważ jasny, biały uśmiech zwiększa pewność siebie oraz poprawia relacje społeczne i zawodowe.
  </p>
  <div class="max-w-7xl mx-auto w-full">
    <app-images-comparison/>
  </div>

</div>

<!-- Sekcja Opinii Pacjentów -->
<div class="w-full mx-auto px-5 py-10 bg-white">
  <h2 class="text-3xl font-semibold mb-6 text-center">Poznaj opinie naszych pacjentów!</h2>
  <p class="text-gray-600 text-center mb-10">
    On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the...
  </p>
  <div class="flex flex-col lg:flex-row items-center">
    <div class="flex lg:w-1/3 ">
      <img src="assets/gabinet.jpg" alt="Patient Avatar" class="w-20 h-20 rounded-full mr-4">
      <div>
        <h3 class="text-lg font-semibold">Roger Saris</h3>
        <p class="text-gray-600">Parents</p>
      </div>
    </div>
    <div class="lg:w-2/3 mt-6 lg:mt-0 lg:ml-10">
      <blockquote class="text-gray-600 italic text-lg mb-4">
        <a class="text-5xl">„ </a>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters. <a class="text-5xl">”</a>
      </blockquote>

    </div>
  </div>
</div>