<div class="w-full h-screen flex flex-col justify-center items-center gap-y-16">
  <header>
    <h1 class="font-bold text-gray-700 text-3xl">Stomatologia i Medycyna Estetyczna</h1>
    <h2 class="text-gray-500 text-3xl text-center">lek. stomatolog Agnieszka Majcher</h2>
  </header>
  <section class="flex gap-x-20 ">

    <div class="flex flex-col gap-y-1.5">
      <h3 class="text-gray-700 text-2xl font-semibold">White Dental</h3>
      <a class="relative choice">
        <div class="absolute w-full h-full bg-gray-950 choice__shadow "></div>
        <div class="w-[512px] h-[512px] overflow-hidden">
          <img class="choice__img " src="assets/zdj1.jpg" alt="Zdjęcie zabiegu stomatologicznego">
        </div>
        <h4 class="absolute bottom-4 left-4 text-3xl font-bold text-white z-[3]">STOMATOLOGIA</h4>
        <div class="absolute w-full h-full bg-sky-200 -bottom-4 -left-4 z-[-1]"></div>
      </a>
    </div>

    <div class="flex flex-col gap-y-1.5">
      <h3 class="text-gray-700 text-2xl font-semibold text-right">White Estetic</h3>
      <a class="relative choice">
        <div class="absolute w-full h-full bg-gray-950 choice__shadow "></div>
        <div class="w-[512px] h-[512px] overflow-hidden">
          <img class="choice__img " src="assets/img2.jpg" alt="Zdjęcie zabiegu medycyny estetycznej">
        </div>
        <h4 class="absolute bottom-4 right-4 text-3xl font-bold text-white z-[3]">MEDYCYNA ESTETYCZNA</h4>
        <div class="absolute w-full h-full bg-amber-100 -bottom-4 -right-4 z-[-1]"></div>
      </a>
    </div>

  </section>
</div>




